@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;1,400;1,500;1,600&family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,600;1,800&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: #ffffff;
}
:root {
  --fonte-primaria : "Poppins", sans-serif;
  --fonte-secundaria :"josefin Slab",sans-serif;
}
body {
  background: #3C3B3F;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F);
}
header {
  font-family: var(--fonte-primária);
}
.btn-header {
  color: #ffffff;
}
main p {
  font-family: var(--fonte-secundaria);
  text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
  font-weight: 500;
}
.img-carousel {
  object-fit: cover;
  opacity: 0.9;
}
footer p {
  cursor: default;
}
footer .contato {
  color: #ffffff;
  transition: 0.2s;
}
footer .contato:hover {
  color: #dfd7d7;
}
@media  screen  and(max-width:550px){
  footer p {
    display: none;
  }
}
